.cardRow {
    width: 100%;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.cardContainer {
    display: flex;
}

.scrollButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.scrollButton {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.left {
    transform: rotate(180deg);
}

.right {
    transform: rotate(0);
}
@media screen and (max-width: 900px) {
    .cardRow {
        padding-bottom: 70px;
    }
}
