.card-container {
    perspective: 1000px;
}

.card {
    position: relative;
    width: 200px;
    height: 170px;
    margin: 7px;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}
.front h2{
    font-size: 20px;
}
.front h5{
    font-size: 12px;
    margin: 2px;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px grey;
}

.back {
    transform: rotateY(180deg);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px grey;
}

.back h5 {
    color: red;
}

