.addnew-page{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1451226428352-cf66bf8a0317?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    padding: 30px;
    padding-top: 80px;

}
.addnew-form-place{
    width: 400px;
    height: 450px;
    /*border-radius: 15px;*/
    background: linear-gradient(217deg, rgba(250, 250, 250, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(183, 183, 190, 0.56), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(192, 189, 189, 0.8), rgba(0,0,255,0) 70.71%);  opacity: 1;
    box-shadow: 0 5px 10px #2e2e34;
    padding: 30px;
    margin-left: 30vw;
}
.addnew-form-place h1{
    margin-top: 20px;
    margin-bottom: 30px;
    align-self: center;
    display: flex;
    justify-content: center;
    font-family: sans-serif;;
    align-items: center;
    font-weight: bold;
    color: #2485fd;
    font-size: 24px;
}
.addnew-form-place form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.addnew-field{
    height: 35px;
    width: 70%;
    margin: 6px;
    padding: 3px;
    border-radius: 20px;
    border: none ;
    cursor: pointer;
    transition: 0.3s ease;
}
.addnew-field:hover{
    box-shadow: 0 5px 5px #c4c0c0;
    width: 70%;
}
.addnew-list h1{
    color: white;
}

/* WordList.css - Plik stylów */

.add-word-list-container {
    text-align: center;
}

.add-word-list h1 {
    margin-bottom: 20px;
}

.add-word-list {
    width: 80%;
    margin: 0 auto;
}

.add-word-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 2px;
    background-color: #f9f9f9;
    transition: 0.3s ease;
}
.add-word-item:hover {
    background-color: #eadfdf;

}
.add-word-item-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2px;
    background-color: #eae1e1;
    box-shadow: 0 5px 5px lightgray;
}
.add-word-list button {
    padding: 5px 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-word-list button:hover {
    background-color: #d60000;
}

.add-word-column {
    flex: 1;
}

.add-word-column p {
    /*margin-bottom: 1px;*/
}
.image-addword{
    width: 64px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.add-word-column-2{
    font-weight: bold ;
}

